<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <context-param>
        <param-name>contextClass</param-name>
        <param-value>
            org.springframework.web.context.support.AnnotationConfigWebApplicationContext
        </param-value>
    </context-param>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>ru.otus.l10.SpringConfig</param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>ru.otus.l10.web.LoginServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>settingsServlet</servlet-name>
        <servlet-class>ru.otus.l10.web.SettingsServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>messageWebSocketServlet</servlet-name>
        <servlet-class>ru.otus.l10.websocket.MessageWebSocketServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>settingsServlet</servlet-name>
        <url-pattern>/settings</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>messageWebSocketServlet</servlet-name>
        <url-pattern>/message</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>login</welcome-file>
    </welcome-file-list>

</web-app>